[Unit]
Description=Apache Zookeeper
Documentation=http://zookeeper.apache.org
Requires=network.target
After=network.target

[Service]
Type=forking
EnvironmentFile=/etc/default/zookeeper
ExecStart={{ zk_appdir }}/bin/zkServer.sh start
ExecStop={{ zk_appdir }}/bin/zkServer.sh stop
Restart=on-failure
User={{ zk_user }}
Group={{ zk_group }}

[Install]
WantedBy=multi-user.target
Alias=zookeeper.service